.panel-heading{
    background-color: brown;
    color: wheat;
    text-align: center;
}

#title{
    width: 50%;
}

#eventDetails{
    margin-top: 30px;
}

#fileUpload{
    color: brown;
    font-weight: bolder;
}

.container{
    width: 80%;
}

input.ng-invalid, textarea.ng-invalid{
    border-left: 5px solid red;
}

input.ng-valid, textarea.ng-valid{
    border-left: 5px solid green;
}